/* Copyright 2017 */
.page {
  width: 780px;
  margin: auto;
  font-size : 14px;
  font-family : 'Source sans Pro',Calibri, Tahoma, sans-serif;
}
.entete{
  height : 200px;
  margin-bottom: 5px;
}
.sec-info {
  float : left;
  margin-left: 15px;
  font-size : 36px;
  margin-bottom : 40px;
}
.sec-poste {
  font-size : 26px;
}
.sec-photo{
  margin-left : 430px;
  margin-bottom : 20px;
}
.sec-photo-left{
    margin: 5 5px;
    width: 130px;
    float: left;

}
.sec-photo-right{
   /*border: 1px solid #000;*/
    margin: 5 5px;
    padding: 20px;
    width: 180px;
    float: left;
    font-size : 12px;
}
.sec-g{
  width: 420px;
  /*border: 1px solid #000;*/
  float : left
}
.sec-d{
  width: 350px;
  /*border: 1px solid #000;*/
  float : left
}
.sec-image-g, .sec-image-d{
    float: left;
    width: 15px;
    /*border: 1px solid #000;*/
    padding: 9px;
    float : left;
}
.sec-texte-g{
    /*border: 1px solid #000;*/
    margin: 5 5px;
    padding: 5px;
    width: 353px;
  /*width: 320px;*/
    float: left;
    /*text-align : justify;*/
}
.sec-texte-d{
    /*border: 1px solid #000;*/
    margin: 5 5px;
    padding: 5px;
    width: 287px;
    float: left;
    /*text-align : justify;*/
}
.titre{
  font-size : 22px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.nivtexte{
  float : left;
  /*border: 1px solid #000;*/
  width : 161px;
}
.niveval{
  width : 118px;
  /*border: 1px solid #000;*/
  float : right ;
}

.loisirleft{
  float : left;
    /*border: 1px solid #000;*/
  width : 141px;
}
.loisirright{
  width : 138px;
     /*border: 1px solid #000;*/
  float : right ;
}
.subsec-loisirimg{
    /*border: 1px solid #000;*/
    /*margin: 5 5px;*/
    padding: 5px;
    width: 16px;
    float: left;
    /*text-align : justify;*/
}
.subsec-loisirtxt{
    /*border: 1px solid #000;*/
    padding: 8px;
    width: 90px;
    float: right;
    /*text-align : justify;*/
}